@import 'Colors';

.demo {
  background: $dark-grey;
  height:100vh;
  padding: 10px 0;

  .demo-main-div {
    background: $light-blue;
    color: white;
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 10px;
    float: none;
    width: 500px !important;
    text-align: center;
    min-height: 100%;

    .demo-main-image {
      height: 150px;
    }

    .demo-main-title {
      font-weight: bold;
    }

    .demo-results {
      overflow-y: scroll;
      height: 650px;
    }
  }
}
